body {color: #FFFFFF; background-color: #000000;}
body.cider {background-color: #7BAD2E;}
body.ciroc {background-color: #DFA43E;}
body.error {background-color: #DA2B31;}
body.liver {background-color: #395499;}
body.wine {background-color: #993F4D;}
body.scotch {background-color: #DF8B29;}
section {font: 1em helvetica,"helvetica neue", arial, sans-serif; margin: 0; padding: 1em 0 0 0; text-align: center;}
h1#outcome {font-size: 10em; padding: 0;margin: 0;}
p#status {font-size: 4em;}
a{color: #FFFFFF;text-decoration:none;}

img.sexycast {
  margin: 10px 0 0 10px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
